@import "base";

.custom-tooltip {
    background: $color4;
    font-size: 12px;
    padding: 10px;
    color: $color2;
}
.title-activity {
    margin-left: 40px;
    font-weight: 500;
    font-size: 15px;
}

.recharts-default-legend {
    margin-bottom: 30px !important;
}
