@import "base";

.headerContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;
    &-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        vertical-align: center;

        &-group {
            display: flex;
            flex-direction: row;
            &-title {
                font-weight: 500;
                font-size: 48px;
                color: $color1;
                margin-right: 10px;
            }
            &-forename {
                font-weight: 500;
                font-size: 48px;
                color: $color4;
            }
        }
        &-sentence {
            font-weight: 400;
            font-size: 18px;
            color: $color1;
        }
    }
}
